{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1 class="h1_name">Имя - {{ emp_id.name }} </h1>
<p>Почта - {{ emp_id.email }}</p>
<img src="{{ emp_id.image.url }}" width="350" height="250">
<p>О сотруднике - {{ emp_id.about_emp }}</p>
<p>Должность - {{ emp_id.programming_status }}</p>

{% if emp_id.rezume %}
{% if emp_id.rezume.url %}
    <a href="{{ emp_id.rezume.url }}" download>Скачать резюме</a>
{% else %}
    <p>Резюме не загруженно</p>
{% endif %}
{% endif %}



<data>Дата рождения - {{ emp_id.date_of_birth }}</data>
<a href="{{ emp_id.github }}">Перейти в GITHUB</a>
<data>Дата создания поста - {{ emp_id.created_at }}</data>

<ul>
    {% for i in emp_id.reviews_employees.all %}

    <li>
        <h1>{{ i.stars }}</h1>
        <p>{{ i.text }}</p>
        <p>{{ i.created_at }}</p>
    </li>

    {% endfor %}
</ul>


{% include '../footer.html' %}