{% load static %}
{% include '../header.html' %}
<link rel="stylesheet" href="{% static 'css/crud_emp.css' %}">



<button type="button" class="btn btn-success"><a href="/create_employee/" class="emp_url">Добавить сотрудника</a></button>
<h1>Список сотрудников</h1>
{% for i in emp %}
<div class="card" style="width: 18rem;">
  <img src="{{ i.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
    <p class="card-text">{{ i.programming_status }}</p>
    <a href="/employees/{{ i.id}}/" class="btn btn-primary">Подробнее</a>
    <a href="/employees/{{ i.id}}/delete/" class="btn btn-primary">Удалить</a>
    <br><br>
    <a href="/employees/{{ i.id}}/update/" class="btn btn-primary">Редактировать</a>
  </div>
</div>
<br>
{% endfor %}

{% for j in quote %}
<div class="card">
  <div class="card-body">
    {{ j.text }}
    <p>
      {{ j.author }}
    </p>
  </div>
</div>
<br>
{%endfor%}
<br>

{% include '../footer.html' %}